:root {
    --header-height: 75px;
    --primary-color: rgb(59, 103, 234);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    height: 100dvh;
    display: grid;
}

.container {
    justify-self: center;
    width: min(1200px, 100vw);
    height: 100%;
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    gap: 50px;
}

header {
    width: 100%;
    place-self: center;
    display: grid;
}

nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
}

nav .logo {
    display: flex;
}

nav .logo span {
    font-size: 2.1rem;
    font-weight: 700;
}


.logo span.logo-my {
    font-family: 'Norican', sans-serif;
    text-transform: lowercase;
}

.logo span.logo-tasks {
    color: var(--primary-color);
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav button {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav li button {
    font-size: 1.3rem;
}

nav .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user span,
.user button {
    font-size: 14px;
}


#modal-1 {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
}

#modal-1.is-open {
    display: block;
}

#modal-1.is-open>div {
    display: grid;
    height: 100%;
}

#modal-1>div>div {
    place-self: center;
    background-color: #fefefe;
    width: min(400px, 90vw);
    border-radius: 6px;
    padding: 20px;
}

form#new-task {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form#new-task div {
    display: flex;
    flex-direction: column;
}

form#new-task #date-priority {
    display: flex;
    gap: 20px;
}

form#new-task button {
    font-family: 'Poppins', sans-serif;
}

.user button,
form#new-task button {
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 99px;
    width: 6rem;
    height: 1.8rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.user button:hover,
form#new-task button {
    background-color: rgb(41, 90, 239);
    box-shadow: none;
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: rgba(59, 103, 234, 0.1);
    width: min(300px, 100%);
    height: fit-content;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card p {
    font-size: 0.9rem;
}

.card-title {
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    border-bottom: 3px solid var(--primary-color);
    padding: 5px 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px 50px 10px;
}


.card div h5 {
    border-bottom: 1px solid var(--primary-color);
}

.card .edit-icon {
    position: relative;
    cursor: pointer;
}
.card .bi {
    position: absolute;
    bottom: -45px;
    right: 0px;
    transition: all 0.2s ease;
}

.card .bi-pencil-fill {
    opacity: 0;
}

.card .edit-icon:hover .bi-pencil-fill {
    opacity: 1;
}